@import "../../Page/Page.scss";

#languages-technology {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    width: 100%;

    .language-item {
        width: 100%;
    }
 
    @media screen and (max-width:1220px) {
        @include flex-column;
    }
}

.cards-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 1rem;   
    width: 100%;
      
    &:hover > *:not(:hover){
        opacity: 0.5;
        transition: 0.4s;

        & > img {
            -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
            transition: 0.4s;
        }
    }

    @media screen and (max-width:680px) {
        @include flex-column;
        @include justify-items;
    }
}


#language-section {
    // width: 100%;

    .card {
        height: 10rem;
        width: 16rem;   
    }

    @media screen and (max-width:680px) {
        a, .card {
            width: 100%;
        }
    }   
}
