@import "../../Page/Page.scss";

#languages-technology {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
 
    @media screen and (max-width:600px) {
        @include flex-column;
    }

    // @media only screen and (max-width: 1200) and (min-width: 600px) {
    //     grid-template-columns: 1fr 1fr;
    // }
}

.cards-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;   
      
      &:hover > *:not(:hover){
        // opacity: 0.5;
        -webkit-filter: grayscale(60%);
        filter: grayscale(60%);
        transition: 0.4s;

        & > img {
            -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
            transition: 0.4s;
        }
      }
}

