@import "../../Page/Page.scss";

.card {
    @include flex-column;
    @include justify-items; 

    background-color: $third;
    border-radius: $radius;
    position: relative; 

    cursor: pointer;
    @include transition-two; 
    transform-style: preserve-3d;

    &__image {
        background-color: $second;
        height: 100%;
        width: 100%; 
        border-radius: $radius;
        transition: .2s;

        backface-visibility: hidden;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include flex-row; 
        @include justify-items;
        
        & > img { 
        object-fit:scale-down;
        height: 60%; 
        max-width: 60%;
        border-radius: $radius;
        }
    }

    &__back {
        height: 100%; 
        width: 100%;
        border-radius : $radius; 
        transform: rotateY(180deg);
        z-index: -5;
        @include flex-column; 
        @include justify-items;
        @include transition-two;

        &:hover {
            opacity: 1  ;
            @include transition-two;
        }

        & > h3 + p {
            display: block; 
            color : $white;
        }
    }   

    &:hover {
        height: 105%;
        width: 105%;
        transition: .4s;
        border: 1px solid $third;
        background-color: $fourth;

        transform: rotateY(180deg);
        
        img {
            opacity: 0;
            @include transition-two;
        }   
 
        & > .back {
            transform: rotateY(0);
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width:680px) {
        flex:1;
        width: 100%;
    }
}
