@import "../../Page/Page.scss";

.card {
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-color: $third;
    border-radius: $radius;
    cursor: pointer;
    transition: .8s;

    position: relative; 
    transform-style: preserve-3d;

    &__image {
        background-color: transparent;
        height: 100%;
        width: 100%; 
        border-radius: $radius;
        transition: .8s;

        backface-visibility: hidden;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include flex-row; 
        @include justify-items;
        
        & > img { 
        object-fit:scale-down;
        height: 60%; 
        max-width: 60%;
        border-radius: $radius;
        }
    }

    &__back {
        transform: rotateY(180deg);
        z-index: -2;
        @include flex-column; 
        @include justify-items; 
        border-radius : $radius; 
        height: 100%; 
        width: 100%;

        & > h3 + p {
            display: block; 
            opacity: 0;
            color : $white;
        }
    }   

    & .overlay {
        height: 60%; 
        width:100%;
        position: relative;
        bottom: 0;
        z-index: 10; 
        background-color: aqua;
        margin: 0;
        padding: 0;
    }

    &:hover {
        height: 105%;
        width: 105%;
        transition: .8s;
        border: 1px solid $fourth;
        background-color: $fourth;

        transform: rotateY(180deg);
        
        img {
            opacity: 0;
        }   
 
        .back {
            transform: rotateY(0);
            border: 1px solid yellow;
        }

        &> h3, p {
            opacity: 1;
        }
    }

}

// .formation {
//     width: 10rem; 
//     height: 7rem;
// }

// .project {
//     width: 
// }
