@import "../../Page/Page.scss";

.card {
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-color: $third;
    border-radius: $radius;
    cursor: pointer;
    transition: .8s;

    &__image {
        background-color: $third;
        height: 60%;
        width: 60%; 
        border-radius: $radius;
        
        
        & > img { 
        object-fit: cover;
        height:100%; 
        // background-color: deeppink;
        border-radius: $radius;
        // border: 1px solid deeppink;
        }
    }

    

    &:hover {
        height: 105%;
        width: 105%;
        transition: .8s;
        background-color: $second;
    }
}
