@import "../../Page/Page.scss";

.first-mobile {
    margin-top: 3rem;
    @media screen and (min-width:1220px) {
        display: none;
    }
}
.first-desktop {
    @media screen and (max-width:1220px) {
        display: none;
    }
}
.first__btn {
    @include flex-row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 60%; 

    // @media screen and (max-width:680px) {
    //     width: 100%;

    //     a, button {
    //         width: 100%;
    //     }
    // }
    
    @media screen and (max-width:680px){
        @include flex-column;
        @include justify-items; 
        width: 100%;

        a, button {
            width: 100%;
        }
    }

    
    @media screen and (max-width:1220px) and (min-width:680px) {
        width: 100%;
        justify-content: space-between;

        a, button {
            width: 12rem;
        }
    }
}

#first-section {
    .section__container {
        @include flex-column; 
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
    }

    #downloadCV {
        width: 100%;

        &:hover {
            @media screen and (max-width:680px) {
                background-color: $dark;
                border: 1px solid $third;
            }
        }

        & a {
            color: $white; 
            text-transform: unset;
            @include flex-row; 
            @include justify-items;
            align-self: center;
            gap: 0.2rem;

            &:hover {
                color: $second;

                @media screen and (max-width:680px) {
                    color: $main;
                }
            }
        }

        @media screen and (max-width:680px) {
            margin: 2rem 0;
            width: 100%;
            background-color: $third;
            border: 1px solid $white; 
            a {
                color: $dark;
            }
        }
    }
}

#btn-container {
    align-items: baseline;
    display: flex;
}
