@import "../../Page/Page.scss";

button > img { 
    height: 1rem;
}

.first { 
    display: flex; 
    flex-direction: row;
    gap: 2rem;

    @media screen and (max-width:600px) {
        @include flex-column;
    }

    // @media only screen and (max-width: 1200) and (min-width: 600px) {
    //     grid-template-columns: 1fr 1fr;
    // }
}
