@import "../../Page/Page.scss";

.parent-skill {
    width: 200px;
    height: auto;
}

.skill {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background-color: conic-gradient($copper 10%, #212428 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 97%;
    height: 97%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: linear-gradient(280deg, #1e2024, #23272b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-number {
    color: $copper;
    font-size: 2rem;
}

.title {
    color: $copper;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-top: 20px;
}