@import "../../index.scss";

.container {
    border-right: 1px dotted $main; 
    width: 10%; 
    height: 100vh;
    position: sticky;
    top:0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    color: $white;

    & h4, a {
        text-transform: uppercase;
        color: $white;
        position: relative;
        transition: .4s;
    }

    & h4:hover, h4:focus, a:hover, a:focus {
        color: $main;
        font-size: large;
        border-left: 3px solid $main;
        border-right: 3px solid $main;
        width: 100%;
        transition: .4s;
    }

    // & h4:not(:hover), h4:not(:focus), a:not(:hover), a:not(:focus) {
    //     color: $second;
    //     font-size: large;
    // }

    & button {
        border: none;
        height: 5rem;
        
        &:hover {
        background-color: transparent;
        }
    } 

    @media screen and (max-width:600px) {
        display: none;
    }

    @media only screen and (max-width: 1200) and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
}

.separator { 
    width: 2px; 
    border-left: 1px solid $white; 
    height: 20%;
    opacity: 0.5;

    &:first-of-type {
        border:none; 
        height: 10%;
    } 

    &:last-child {
        border: none;
    } 
}

#btn_translate {
    margin-top: 1rem;
    border: 1px solid $main; 
}

#toggleButton {
    display: none; 

    &:hover {
        color: $main; 
        border: 1px solid $main;
    }

    @media screen and (max-width:1000px) {
        display: block; 
        position: sticky;
        height: 3rem; 
        width: 100%;
        border: 1px solid $fourth;
        top: 0.1rem;
        border-left: none; 
        border-right: none;
        color: $fourth;
        border-radius: 0px;
        // background-color: transparent; 
    }
}