@import "../../index.scss";


.container {
    border-right: 1px dotted $main; 
    width: $container; 
    height: 100vh;
    z-index: 10;
    position: fixed;
    top:0;
    left: 0;
    padding: 3rem 1rem;

    display: none;

    @include flex-column; 
    @include justify-items; 

    background-color: $dark;

    // opacity: 0;
    // transition: 2s;

    &:hover {
        opacity: 1;
        transition: 2s;
        
        & > a:not(:hover), h4:not(:hover) {
            color: $fourth !important;
        }
    }

    & h4, a {
        text-transform: uppercase;
        color: $third;
        position: relative;
        transition: .4s;
        width: 100%;
    }

    & h4:hover, h4:focus, a:hover, a:focus {
        color: $main;
        border-top: 1px solid $main;
        border-bottom: 3px solid $main;
        width: 100%;
        transition: .4s;
        position: relative;
    }

    & button {
        border: none;
        height: 5rem;
        
        &:hover {
        background-color: transparent;
        }
    } 

    @media screen and (max-width:680px) {
        display: sticky;
    }

    @media only screen and (max-width: 1200) and (min-width: 680px) {
        grid-template-columns: 1fr 1fr;
    }
}

.separator { 
    width: 2px; 
    border-left: 1px solid $white; 
    height: 20%;
    opacity: 0.5;

    &:first-of-type {
        border:none; 
        height: 10%;
    } 

    &:last-child {
        border: none;
    } 
}

// #btn_translate {
//     margin-top: 1rem;
//     border: 1px solid $main; 
// }

