@import "../../Page/Page.scss";

#competence-section {

    @media screen and (max-width:680px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
#competence-tab {
    align-items: flex-start;
        
    @media screen and (max-width:680px) {
        @include flex-column; 
        @include justify-items;
        grid-template-columns: none;
    }    
    
    @media screen and (min-width:680px) and (max-width: 1220px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

table {
    position: relative;
    width: 10rem; 

    th {
        padding: 1rem;
        min-width: 10rem;
        height: 5.5rem;
        background-color: $second;
        color: $main;
        font-weight: 300;
        text-transform: uppercase;

        &:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            border-bottom-left-radius : $radius; 
            border-bottom-right-radius : $radius;
        }
    }
    
    td {
        padding: 0.8rem;
        font-weight: 200;
        font-size: 0.9rem;
        letter-spacing: 1.1;
        text-align: left;
    } 

    td {
        display: none; 
    }
    
    tr:last-child td:last-child {
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
    }
    
    tr:nth-child(even){background-color: $second;}
    tr:nth-child(odd){background-color: $fourth;}

    @media screen and (max-width:680px) {
        width: 100%
    }
    
    @media screen and (max-width:1220px) {
        width: 18rem;
    }
}

table:hover {
    width: 15rem;

    @media screen and (max-width:680px) {
        width: 100%;   
    }
    
    @media screen and (max-width:1220px) {
        width: 18rem;
    }

    th {
        background-color: transparent !important;
        border: 1px solid $main;
    }

    th:last-child {
        border-bottom-left-radius : 0; 
        border-bottom-right-radius : 0;
    }

    td {
        display: block;
    }
        
    tr:last-child td:last-child {
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

table, table:hover {
    @include transition; 
}

#competence-section {
    transition: 4s;
    transition-timing-function: ease-in-out;
    height: 100%;
  
  &:hover {
    transition: 4s;
    height: auto;
  }

}