@import "../index.scss";

.page {
    @include flex-column; 
    margin: 2rem;
    width: 90%;

    @media screen and (max-width:600px) {
        margin:0;
        width:100%;
    }

    @media only screen and (max-width: 1200) and (min-width: 600px) {
        margin: 1rem;
        width: 100%;
    }
}

a {
    text-decoration: none;
    text-transform: uppercase; 
    
    a:hover {
        opacity: 1;
        color: $main;
        text-decoration: none;
    } 
} 

button {
    color: $white !important; 
    background-color: $dark;
    border : 1px solid $main;
    border-radius: $radius;
    transition: .4s;
    padding: 0.8rem;
    letter-spacing: 1.2px;
    line-height: 1;
    font-weight: 200;
    text-align: center;
    font-size: 1rem;
    height: 3.5rem;
    text-decoration: unset !important;

    @include flex-row; 
    @include justify-items;
    align-self: center;
    gap: 0.2rem;

    &:hover {
        background-color: $main;
        color: $second !important; 
        transition: 0.4s;
    }
    

    & > span {
        font-size: 1rem;
    }

    &> img {
        height: 1rem;
    }
}

.section {
    position: relative;
    padding: 2rem; 
    margin-bottom: 2rem;
    @include flex-column;
    @include justify-items; 
    border-radius: $radius;
    transition: 0.4s;
    transition-timing-function: ease-in-out ;

    & .section__img {
        width: 30%;
        aspect-ratio: 4 / 5;
        object-fit: cover;

        @media screen and (max-width:600px) {
            width: 100%; 
        }
    
        // @media only screen and (max-width: 1200) and (min-width: 600px) {
        //     grid-template-columns: 1fr 1fr;
        // }
    }

    @media screen and (max-width:600px) {
        margin:0;
        border-radius: none;
    }

    @media only screen and (max-width: 1200) and (min-width: 600px) {
        margin: 0.5rem;
    }
}
.section:nth-child(odd){background-color: $section;}
.section:nth-child(even){background-color: $section-dark;}

.text-field {
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: baseline;
    text-align: left;
    line-height: 0.8rem;
    height:100%;
}

img {
    border-radius: $radius;
}

input:-internal-autofill-selected {
    background-color: $third !important;
}