@import "../index.scss";

.page {
    @include flex-column; 
    margin: 2rem;
    margin-right: $container;
    margin-left: $container;
    width: 100%;
    box-sizing: border-box;
    
    @media screen and (max-width:1000px) {
        margin:0;
        width:100%;
    }
}

a {
    text-decoration: none;
    text-transform: uppercase; 
    
    a:hover {
        opacity: 1;
        color: $main;
        text-decoration: none;
    } 
} 

button {
    color: $white !important; 
    background-color: transparent;
    border : 1px solid $main;
    border-radius: $radius;
    transition: .4s;
    padding: 0.8rem;
    letter-spacing: 1.2px;
    line-height: 1;
    font-weight: 200;
    text-align: center;
    font-size: 1rem;
    height: 3.5rem;
    text-decoration: unset !important;

    @include flex-row; 
    @include justify-items;
    align-self: center;
    gap: 0.2rem;

    &:hover {
        background-color: $main;
        color: $second !important; 
        transition: 0.4s;
    }
    

    & > span {
        font-size: 1rem;
    }

    &> img {
        height: 1rem;
    }
}


.text-field {
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: baseline;
    text-align: left;
    line-height: 0.8rem;
    height:100%;

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }
}

img {
    border-radius: $radius;
}

input:-internal-autofill-selected {
    background-color: $third !important;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
}