@import "../../Page/Page.scss";

.formation {
    display : flex;
    width: 80%;
    gap: 2rem ;
    margin-top: .8rem;
    justify-content: space-between;

    .cards {
        background-color: transparent;
    }

    // & img {
    //     width: 10%; 
    //     object-fit: cover;
    // }
}