@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0'); 

* { 
  box-sizing: border-box;
  margin: 0;
}

$copper : #B87333;
$verdigris : #40B5AD; 
$white : #faf2eb;
$dark : #150c05;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color:#000;
  color:  $white;
}

a {
  color: $copper; 

  &:hover {
    color: $verdigris;
  }
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Rajdhani', sans-serif;
  font-weight: 400 ;
  letter-spacing: 1.5px;
  line-height: 2;
  color: $copper;
}

h1, h2 {
  text-transform: uppercase;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
