@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0'); 

* { 
  box-sizing: border-box;
  margin: 0;
  transition-timing-function: ease-in-out;
}

html {
  scroll-behavior: smooth;
}

// Color theme
$main : pink;
$second : #6e5156; 
$third : skyblue; 
$fourth : #23515c;

$dark : #080c14;
$white : #f6f2e1;

$section : rgba(8, 12, 20, 0.5);
$section-two : rgba(110, 81, 86, 0.4);
// for phone
$mobile-section : rgba(8, 12, 20, 0.7); 
$mobile-section-dark : rgba(110, 81, 86, 0.7); 
// for tablette
$tablette-section: rgba(8, 12, 20, 0.3); 
$tablette-section-dark: rgba(110, 81, 86, 0.2); 


// // Once color theme
// $main : #dd6a6e;
// $second : #6e5156; 
// $third : #657d83; 
// $fourth : #23515c;

//old old old color theme (keep it just in case)
// $main : #B87333;
// $second : #824D74; 
// $third : #BE7B72; 
// $fourth : #401F71;

// $dark : #150c05;
// $white : #faf2eb;

//Border radius : 
$radius : 5px;

//container/menu size
$container: 10rem;

@mixin flex-row {
  display: flex; 
  flex-direction: row; 
}

@mixin flex-column {
  display: flex; 
  flex-direction : column; 
}

@mixin justify-items {
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition-timing-function: ease-in-out;
  transition: 0.8s;
}

@mixin transition-two {
  transition-timing-function: ease-in-out ;
  transition: 0.4s;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url('./assets/Pictures/stars-1845140_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-clip: cover;
  background-color: #000;
  color:  $white;
}

a {
  color: $white; 
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $main;
  }
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Rajdhani', sans-serif;
  font-weight: 400 ;
  letter-spacing: 1.5px;
  line-height: 2;
  color: $main;
}

h1, h2 {
  text-transform: uppercase;
  text-shadow: rebeccapurple 0 0 10px;
}

h1 {
  font-size: 4rem;
  color: $third;
  line-height: 1;
  margin: 0 0 2rem 0;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: $third;
}

