@import "../../Page/Page.scss";

#aboutMe {
    #cards-container {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;    
        width: 100%;

        h3 {
            font-size: 0.8rem; 
        }

        p {
            text-transform: none;
            font-size: 0.6rem;
        }

        .cards {
            background-color: transparent;
        }

        @media screen and (max-width:1220px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
        }

        @media screen and (max-width:680px) {
            @include justify-items;
            @include flex-column;
        }
    }

    h3 {
        line-height: 2.5;
        margin-top: 2rem;
    }

    a, .card {
        height: 8rem; 
        width: 10rem;

        @media screen and (max-width:680px) {
            width: 100%;
        }

        @media screen and (max-width:1220px) {
            width: 16rem;
            height: 10rem;
        }
    }
}
